@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tinted-black: 27 29 30;
    --tinted-white: 214 219 220;
    --dark: 44 49 56;
    --light: 214 219 220;
    --background: 214 219 220;
    --background-dark: 27 29 30;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
